<div class="position-relative">
    <div id="success" class="position-absolute "><span class="badge text-bg-success py-4">password changed successfully</span></div>

    <h1>update your password:</h1>
<form  [formGroup]="updatePassFormObj" (ngSubmit)="handlepasswordUpdating()">
   @if( errorMsg!=null)
   {
         <p class=" alert alert-danger text-center">{{errorMsg}}</p>
   }

     <div class="old-password-input">
          <label class="mt-4" for="currentPassword"
            >current password <span class="text-danger">*</span> :
          </label>
          <input
            formControlName="currentPassword"
            class="form-control"
            type="password"
            id="currentPassword"
          />
          @let oldPasswordControl=updatePassFormObj.get('currentPassword'); 
          @if(oldPasswordControl?.touched) {
          <div>
            @if (oldPasswordControl?.getError('required') && oldPasswordControl?.dirty) {
            <p class="text-danger mb-0">current password is required</p>
            } 
          </div>
          }
        </div>
     <div class="password-input">
          <label class="mt-4" for="Password"
            > new password <span class="text-danger">*</span> :
          </label>
          <input
            formControlName="password"
            class="form-control"
            type="password"
            id="Password"
          />
          @let passwordControl=updatePassFormObj.get('password'); 
          @if(passwordControl?.touched) {
          <div>
            @if (passwordControl?.getError('required') && passwordControl?.dirty) {
            <p class="text-danger mb-0">password is required</p>
            } @else if (passwordControl?.getError('pattern')) {
            <p class="text-danger">
              Enter A Valid password (start with capital letter follwed by small
              letter follwed by 4 chars)
            </p>
            }
          </div>
          }
        </div>

        <div class="rePassword-input">
          <label class="mt-4" for="RePassword"
            >Confirm password <span class="text-danger">*</span> :
          </label>
          <input
            formControlName="rePassword"
            class="form-control"
            type="password"
            id="RePassword"
          />
        
          <div>
            @if (updatePassFormObj.getError("passwordMissMatch") && updatePassFormObj.get("rePassword")?.touched ) {
            <p class="text-danger mb-0">rePassword does not equal password</p>
            }
          
          </div>
          
        </div>


          <button
          class="text-light bg-main btn mt-4"
          [disabled]="updatePassFormObj.invalid || isLoading"
        >
          @if (isLoading==false) {
            <span>update password</span>
          }@else {
             <i class="fa-solid fa-spinner fa-spin-pulse"></i>
          }
        </button>
</form>
</div>