<main class="p-5">
  <div class="container">
      <h2 class="text-capitalize">forget Your password:</h2>
      <p class="text-small text-secondary text-capitalize">please Enter Your Email address blew. we will  Send Verfication code to reset your password</p>
      
    <form (ngSubmit)="handleForgetPassword()" [formGroup]="forgetPaasswordFormObj">
      <div class="email-input">
        <label class="mt-4" for="userEmail"
          >Email <span class="text-danger">*</span> :</label
        >
        <input
          formControlName="email"
          class="form-control"
          type="Email"
          id="userEmail"
        />
        @if (forgetPaasswordFormObj.get("email")?.touched) {
        <div>
          @if (forgetPaasswordFormObj.get("email")?.getError('required')) {
          <p class="text-danger mb-0">Email is required</p>
          } @else if (forgetPaasswordFormObj.get("email")?.getError('email')) {
          <p class="text-danger">Enter A Valid Email</p>
          }
        </div>
        }
      </div>

    
    
   <div class="d-flex justify-content-end align-items-center mt-3">
     
       <button
        class="text-light bg-main btn ms-3  "
        [disabled]="forgetPaasswordFormObj.invalid || isLoading == true"
      >
        @if (isLoading==false) {
        <span>Send</span>
        } @else {
        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        }
      </button>
   </div>
    </form>
      @if (responseErrorMsg) {
      <P class="alert alert-danger text-center mt-3">{{ responseErrorMsg }} </P>
      }
  </div>
</main>
