<div class="container p-5 cursor-pointer">
  <div
    class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center"
  >
    @for (category of categoriesList; track category ._id) {
    <div class="col">
      <div class="inner shadow-sm rounded-3 border border-info">
        <div class="imageWrapper">
          <img
            class="object-fit-cover w-100 rounded-3 "
            style="height: 400px"
            [src]="category.image"
            alt=""
          />
        </div>
        <h4 class="text-center mt-3 text-info bg-body-tertiary">{{ category.name }}</h4>
      </div>
    </div>
    }
  </div>
</div>
