<div class="row g-0">
  <div class="col-md-9">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
         <img style="height: 400px" class="w-100 object-fit-cover" src="/Assets/images/main-slider-1.jpeg" >
      </ng-template>
      <ng-template carouselSlide>
         <img style="height: 400px" class="w-100 object-fit-cover" src="/Assets/images/main-slider-2.jpeg" >
      </ng-template>
     
      <ng-template carouselSlide>
         <img style="height: 400px" class="w-100 object-fit-cover" src="/Assets/images/main-slider-3.jpeg" >
      </ng-template>
     
    </owl-carousel-o>
  </div>
  <div class="col-md-3">
    <img
      style="height: 200px"
      class="w-100 object-fit-cover"
      src="/Assets/images/slide-1.jpeg"
      alt=""
    />
    <img
      style="height: 200px"
      class="w-100 object-fit-cover"
          src="/Assets/images/slide-2.jpeg"
      alt=""
    />
  </div>
</div>
