<main class="p-5">
  <div class="container">
    <h2>Reset your password</h2>
    <form (ngSubmit)="handleResetPassword()" [formGroup]="resetPasswordFormObj">
      <div class="email-input">
        <label class="mt-4" for="userEmail"
          >Email <span class="text-danger">*</span> :</label
        >
        <input
          formControlName="email"
          class="form-control"
          type="Email"
          id="userEmail"
        />
        @if (resetPasswordFormObj.get("email")?.touched) {
        <div>
          @if (resetPasswordFormObj.get("email")?.getError('required')) {
          <p class="text-danger mb-0">Email is required</p>
          } @else if (resetPasswordFormObj.get("email")?.getError('email')) {
          <p class="text-danger">Enter A Valid Email</p>
          }
        </div>
        }
      </div>

      <div class="newPassword-input">
        <label class="mt-4" for="newPassword"
          >newPassword <span class="text-danger">*</span> :
        </label>
        <input
          formControlName="newPassword"
          class="form-control"
          type="Password"
          id="newPassword"
        />
        @let newPasswordControl=resetPasswordFormObj.get('newPassword');

        <div>
          @if (newPasswordControl?.getError("required") &&
          newPasswordControl?.touched ) {
          <p class="text-danger mb-0">newPassword is required</p>

          }@else if( newPasswordControl?.getError("pattern")){
          <p class="text-danger mb-0">
            Enter A Valid password (start with capital letter follwed by small
            letter follwed by 4 chars)
          </p>
          }
        </div>
      </div>

      <div class="d-flex justify-content-end align-items-center mt-3">
        <button
          class="text-light bg-main btn ms-3"
          [disabled]="resetPasswordFormObj.invalid"
        >
          @if (isLoading==false) {
          <span>Reset</span>
          } @else {
          <i class="fa-solid fa-spinner fa-spin-pulse"></i>
          }
        </button>
      </div>
    </form>
    @if (responseErrorMsg) {
    <P class="alert alert-danger text-center mt-3">{{ responseErrorMsg }} </P>
    }
  </div>
</main>
